<div class="wrap">
  <nav class="navbar navbar-fixed-top">
    <ul class="primary">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/scrape">Scrape</a>
      </li>
      <li>
        <a href="/articles">Articles</a>
      </li>
      <li>
        <a href="/saved">Saved ({{dblen}})</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <form>
          <div>
            <input type="search" id="mySearch" name="q">
            <button>Search</button>
          </div>
        </form>
      </li>
    </ul>
  </nav>
</div>
