<div id="wrapper">
  <h1>JS News Scraper</h1>
  <h1><b>Lets keep in you the loop</b></h1>
  <q>Programs must be written for people to read,
    and only incidentally for machines to execute...</q>
</div>
<hr />

<div class="container">
  <div class="row">
    <div class="col-lg-8">

      {{#each dbArticle }}
        <article>
          <h3>
        {{ this.title }}
      </h3>
      <h4>
        {{ this.summary }}
        <a href="http://www.discovermeteor.com{{this.link}}" target="_blank">here</a>
      </h4>
          <hr>
        </article>
      {{/each}}

    </div>

    <div class="col-lg-4">
    </div>
  </div>
</div>
