<div id="wrapper">
  <h1>News Scraper</h1>
  <h1><b>Lets keep in you the loop</b></h1>
  <h3><b> <i>Programs must be written for people to read,
    and only incidentally for machines to execute.</i></b></h3>
</div>

<div id="articles">
  {{dbArticle}}
</div>

<div id="notes">
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">

      <article>
        <h3>
          What Have We Been Up To?
        </h3>
        <h4>
          It’s been a while since we’ve shared any news here,
          but that doesn’t mean we’ve been sitting still.
          In fact, both Tom and I have been involved...
        </h4>
        <hr>
      </article>

      <article>
        <h3>
          What Have We Been Up To?
        </h3>
        <h4>
          It’s been a while since we’ve shared any news here,
          but that doesn’t mean we’ve been sitting still.
          In fact, both Tom and I have been involved...
        </h4>
      <hr>
      </article>
    </div>

    <div class="col-lg-3">
    </div>
  </div>
</div>
