<div id="wrapper">
  <h1>JS News Scraper</h1>
  <h1><b>Lets keep in you the loop</b></h1>
  <q>Programs must be written for people to read,
    and only incidentally for machines to execute...</q>
</div>
<hr />

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      {{#each dbArticle }}

      <div class="col-lg-2">
          <img class="thumb" src="http://www.discovermeteor.com/{{this.image}}">
      </div>
      <div class="col-lg-10">
        <article>
          <h3>
            <a href="http://www.discovermeteor.com{{this.link}}" target="_blank">{{ this.title }}</a>
      </h3>
      <h4>
        {{ this.summary }};
      </h4>
          <hr>
        </article>
      </div>

      {{/each}}

    </div>

    <div class="col-lg-4">
    </div>
  </div>
</div>
