<div class="container">
  <div class="row">
    {{#each dbArticle }}
    <div class="col-lg-10">


      <div class="col-lg-2">
          <img class="thumb" src="http://www.discovermeteor.com/{{this.image}}">
      </div>
      <div class="col-lg-10">
        <article>
          <h3>
            <a href="http://www.discovermeteor.com{{this.link}}" target="_blank">{{ this.title }}</a>
      </h3>
      <h4>
        {{ this.summary }};
      </h4>
          <hr>
        </article>
      </div>



    </div>

    <div class="col-lg-2">
      <button class="notButton"> Notes (0) </button>
      <button class="favButton" value="Save"> Delete </button>
    </div>
    <div id="notesdiv">
      <form class="form" action="#" id="notes">
        <h3>Add a note below</h3>
        <hr/>
        <label>Name : </label>
        <input type="text" class="username" placeholder="John" />
        <input type="button" class="addNoteButton" value="Add Note" />
        <input type="button" class="cancelbtn" value="Cancel" />
        <h5>
          David: Great article!
        </h5>
      </form>
    </div>

    {{/each}}
  </div>
</div>
