body {
  height: 100%;
  /* background-color: rgb(252, 237, 237); */
  font-family: Garamond, arial, serif;
  font-size: 16px;
  /* text-transform: uppercase; */
}
article h3 {
  font-weight: bold;
}

.thumb {
  margin-top: 15%;
  width: 100px;
  height: 100px;
  border-radius: 35px 0 35px 0;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
#wrapper  {
  padding-top: 7%;
  padding-bottom: 1%;
}

#wrapper q {
  font-size: 18px;
  padding-left: 20%;
}
#wrapper h1 {
  font-size: 40px;
}
h1 {
  text-align: center;
}
.wrap {
  display: inline;
}

#mySearch {
  margin-top: 7%;
  margin-left: 10px;
}

hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
}

a {
  text-decoration: none;
  color: #fff;
}

.mybotton {
  width: 110px;
  height: 45px;
  margin-top: 25%;
  margin-left: 15%;
  border-radius: 12px 0 12px 0;
  background-color: rgb(143, 203, 241);
}

h3 a {
  color: rgb(81, 104, 216);
  font-size: 34px;
}

li {
  float: left;
}

ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  width: 100%;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  font-size: 16px;
}

.primary {
  width: 85%;
  padding-left: 15%;
  margin:0 auto;
  list-style:none;
}

ul.primary li a {
  display: block;
  padding: 20px 30px;
}

.bg-info {
  height: 50px;
  padding-top: 2%;
}
